* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: $main-font-size;
    scroll-behavior: smooth;
}

::selection {
    background-color: map-get($colors, "dark-green");
    color: white;
}

body {
    font-family: "Poppins", sans-serif;
    height: 20000px;
}

a {
    text-decoration: none !important;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

a,
svg,
.tap-light-remove {
    -webkit-tap-highlight-color: transparent !important;
}
