// * All colors needed.
$medium-green: #22b3c1;
$lighter-green: #b3e8e5;
$light-green: #82dbd8;
$darker-green: #005555;
$dark-green: #2f8f9d;
$dark-black-green: #062c30;

// * Add all colors to $colors map.
$colors: (
    "medium-green": $medium-green,
    "lighter-green": $lighter-green,
    "light-green": $light-green,
    "darker-green": $darker-green,
    "dark-green": $dark-green,
    "dark-black-green": $dark-black-green,
);
