.landing {
    width: 100%;
    height: 100vh;
    @include reset-bg;
    background-image: url("../../../public/assets/images/banner/banner-01.jpg");
    background-attachment: fixed;

    .row {
        width: 100%;
        height: 100%;
        text-align: center;
        @include flex-center-column;
    }

    &__text {
        font-size: 2.1rem;
        color: white;

        @include breakpoint(tablet) {
            font-size: 1.6rem;
        }
    }

    &__title {
        margin-block: 2.2rem;
        font-size: 3rem;
        font-weight: 600;
        color: white;
    }
}
