.reservation {
    position: relative;
    @include hero-pic("../../../public/assets/images/heading/heading-bg-02.jpg");
    height: 100vh !important;

    .row {
        width: 100%;
        height: 100%;
        position: relative;
        text-align: center;
        @include flex-center-column;
    }

    &__cards {
        width: 100%;
        position: relative;
        padding: 15rem 0;
        margin-top: 5rem;
        margin-bottom: -8rem;
        margin-inline: auto;
        @include grid-columns(3);
        gap: 2rem;

        @include breakpoint(tablet) {
            @include grid-columns(1);
        }

        &__item {
            width: 100%;
            height: 20rem;
            border-radius: 1.5rem;
            @include flex-center-column;
            background-color: map-get($colors, "native-dark");
            color: map-get($colors, "medium-green");
            box-shadow: 3px 9px 15px -9px rgba(0, 0, 0, 0.69);
            -webkit-box-shadow: 3px 9px 15px -9px rgba(0, 0, 0, 0.69);
            -moz-box-shadow: 3px 9px 15px -9px rgba(0, 0, 0, 0.69);

            &__icon {
                font-size: 2.2rem;

                @include breakpoint(tablet) {
                    font-size: 2rem;
                }
            }

            &__first-text {
                margin-block: 1rem;
                font-size: 2rem;
                font-weight: bold;
                text-transform: capitalize;

                @include breakpoint(tablet) {
                    font-size: 1.8rem;
                }
            }

            &__second-text {
                font-size: 1.5rem;

                @include breakpoint(tablet) {
                    font-size: 1.3rem;
                }
            }
        }
    }

    &__main {
        width: 100%;
        position: relative;
        margin-top: 85rem;

        &__map {
            width: 100% !important;
            position: relative;
            height: 60rem;
            margin: 0 auto;
            border-radius: 3rem 3rem 0 0;

            iframe {
                width: 100%;
                height: 100%;
                margin-inline: auto;
                padding: 0 !important;
                border-radius: 3rem 3rem 0 0;
            }
        }

        &__contact {
            height: auto;
            padding-block: 4rem;

            &__title {
                color: map-get($colors, "native-dark");
                text-transform: capitalize;
                font-weight: 500;
                font-size: 2.2rem;

                @include breakpoint(tablet) {
                    font-size: 2rem;
                }

                @include breakpoint(mobile) {
                    font-size: 1.5rem;
                    font-weight: bold;
                }

                span {
                    color: map-get($colors, "medium-green");
                }
            }

            &__form {
                width: 100%;
                margin-top: 2rem;
                @include grid-center;

                @include breakpoint(tablet) {
                    display: block;
                }

                .row {
                    width: 100%;
                    margin: 0 auto;
                    @include grid-columns(2);
                    gap: 2rem;

                    @include breakpoint(tablet) {
                        @include grid-columns(1);
                    }
                }

                &__input-container {
                    width: 100%;
                    text-align: start;
                    text-transform: capitalize;
                    color: map-get($colors, "native-dark");
                }

                label {
                    width: 100%;
                    display: block;
                    margin-bottom: 1rem;
                    font-size: 1.4rem;
                }

                input,
                select {
                    width: 100%;
                    display: block;
                    padding: 1.2rem 1.3rem;
                    border: 1px solid map-get($colors, "native-dark");
                    border-radius: 1rem;
                    font-size: 1.7rem;
                    caret-color: map-get($colors, "medium-green");

                    &::-webkit-input-placeholder {
                        text-transform: capitalize;
                    }

                    &::-moz-placeholder {
                        text-transform: capitalize;
                    }

                    &:-ms-input-placeholder {
                        text-transform: capitalize;
                    }

                    &::-ms-input-placeholder {
                        text-transform: capitalize;
                    }

                    &::placeholder {
                        text-transform: capitalize;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}
